# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets
*.pem
*.key
.env
terraform.tfvars
*.auto.tfvars
